<div>
  @if (false) {
    @for (user of users();track $index) {
      <div> {{ user.name }}</div>
    } @empty {
      <div>Data Is Not Populated</div>
    }

    @if (user.role === 'developer') {
      <div>Required</div>
    } @else if (user.role === 'IT') {
      <div>Not Required</div>
    } @else {
      <div>LFG</div>
    }

    @switch (user.role) {
      @case ('developer') {
        <div>Required 2</div>
      }
      @case ('IT') {
        <div>Not Required 2</div>
      }
      @case ('DB Architecture') {
        <div>Redirect To Another Company</div>
      }
      @default {
        <div>No Role</div>
      }
    }

    @defer (on viewport) {
      <div><strong>[ {{ user.id }}] {{ user.name }} as {{ user.role }}</strong></div>
    } @loading (after 150ms;minimum 150ms) {
      <div style="color: #00e800; font-weight: bolder">....</div>
    } @placeholder (minimum 150ms) {
      <div style="color: #009dff; font-weight: bolder">User Information</div>
    } @error {
      <div style="color: red; font-weight: bolder">Error Occurred</div>
    }
  }</div>
@if (authService.currentUserSig() === null) {
  <h5>You Are In Home Page Now</h5>
  <h6>Please Sign In For More Features</h6>
  <hr>
  <h4 routerLink="/login">LOGIN</h4>
  <h4 routerLink="/register">REGISTER</h4>
} @else if (authService.currentUserSig()) {
  Welcome {{ authService.currentUserSig()?.username }} <button type="button">GO TO PROFILE SETTINGS</button>
  <div (click)="logout()">LOGOUT</div>
}


<router-outlet></router-outlet>
